
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>index2</title>
</head>
<body>
	<table id="selectedInv">
		<thead>
			<tr class="alternate">
				<th>
					Barkod
				</th>
				<th>
					OverAll Count
				</th>
				<th>
					Transfer Count
				</th>
			</tr>
		</thead>
		<tbody>
			<tr class="1">
				<td> 2323 </td>
				<td> 9 </td>
				<td><input name="data[0].TransferCount" type="text" value="3"><input type="hidden" value="1" name="data[0].CodeClass" /></td>
			</tr>
			<tr class="2">
				<td> 2329 </td>
				<td> 5 </td>
				<td><input type="text" value="2" name="data[1].TransferCount"><input type="hidden" value="1" name="data[1].CodeClass" /></td>
			</tr>
			<tr class="3">
				<td> 2329 </td>
				<td> 3 </td>
				<td><input type="text" value="1" name="data[2].TransferCount"><input type="hidden" value="1" name="data[2].CodeClass" /></td>
			</tr>
		</tbody>
	</table>
</body>
</html>
